extends ../layout

block content
  .container
    .row.main
      .main-pdf
        include ../includes/nav
        if(guide)
            h1 가이드 라인
            div
                #pdfName=guide
                #projectNumber=3
                button#prev Previous
                button#next Next
                span.pagenumber
                    | Page: 
                    span#page_num
                    |  / 
                    span#page_count
                a.fa.fa-download.download(aria-hidden='true' onclick='downloadFiles("#{guide}");')
            canvas#the-canvas
        else
            h1 파일이 없습니다.
        a.btn.btn-lg.btn-default.btn-exit(href='/') 종료


    script(src='//mozilla.github.io/pdf.js/build/pdf.js')
    script(src='/javascripts/pdfShow.js')
    script(src='/javascripts/main.js')
