extends ../layout

block content
    h1 가이드
    div
        button#prev Previous
        button#next Next
        span
            | Page: 
            span#page_num
            |  / 
            span#page_count
    canvas#the-canvas


    script(src='//mozilla.github.io/pdf.js/build/pdf.js')
    script(src='/javascripts/pdfShow.js')
