doctype html
html
    head
        title FeedBack
        meta(charset='utf-8')
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        // Bootstrap core CSS
        link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Custom fonts for this template
        link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
        // Plugin CSS
        link(href='vendor/magnific-popup/magnific-popup.css', rel='stylesheet')
        // Custom styles for this template
        link(href='/stylesheets/creative.min.css', rel='stylesheet')
        link(href='/stylesheets/style.css', rel='stylesheet')

      body
        section#portfolio.p-0
                .container-fluid.p-0
                    .row.no-gutters.popup-gallery
                        .col-lg-4.col-sm-6
                            a.portfolio-box(href='/training/guide')
                                img.img-fluid(src='img/portfolio/fullsize/1.jpg', alt='')
                                .portfolio-box-caption
                                    .portfolio-box-caption-content
                                        .project-category.text-faded
                                            | 사전훈련
                                        .project-name
                                            | 가이드라인
                        .col-lg-4.col-sm-6
                            a.portfolio-box(href='/training/sample')
                                img.img-fluid(src='img/portfolio/fullsize/2.jpg', alt='')
                                .portfolio-box-caption
                                    .portfolio-box-caption-content
                                        .project-category.text-faded
                                            | 사전훈련
                                        .project-name
                                            | 피드백 샘플
                        .col-lg-4.col-sm-6
                            a.portfolio-box(href='/training/training')
                                img.img-fluid(src='img/portfolio/fullsize/3.jpg', alt='')
                                .portfolio-box-caption
                                    .portfolio-box-caption-content
                                        .project-category.text-faded
                                            | 사전훈련
                                        .project-name
                                            | 피드백 작성 연습

