extends ../layout

block content
  .container
    .row.main
        .main-sample
            div
                include ../includes/nav
                if(training)
                    h1 모법답안
                    div
                        #pdfName=training.sampleAnswer1
                        #projectNumber=1
                        button#prev Previous
                        button#next Next
                        span.pagenumber
                            | Page: 
                            span#page_num
                            |  / 
                            span#page_count
                        a.fa.fa-download.download(aria-hidden='true' onclick='downloadFiles("#{training.sampleAnswer1}"");')
                    canvas#the-canvas
                else
                    h1 파일이 없습니다.
            .main-sample2
                h1 내가 쓴 답안
                .ex1=training.trainingExample
                .ex1#comment=myUser.feedback
                a.btn.btn-lg.btn-default(href='/') 종료
    script(src='//mozilla.github.io/pdf.js/build/pdf.js')
    script(src='/javascripts/pdfShow.js')

    script(type='text/javascript').
        (function () {
            var comment = document.getElementById("comment").innerHTML;
            comment = comment.replace(/&lt;br&gt;/g, '<br>');
            var output = '';
            $('#comment').empty();
            output += comment;
            $('#comment').html(output);
        })()