extends ../layout

block content
  .container
    .row.main
        .main-training.exam
            div
                include ../includes/nav
                h2 피드백 작성 연습
                div
                    h4 
                        ul
                            li 친구에게 제공 할 수 있는 피드백 예시    
                    br
                    table.table
                        tbody
                            tr
                                td 제안하기
                                td
                                    ul
                                        li ~ 하는 것이 더 좋을 거 같습니다
                                        li ~ 부분이 필요한 것 같습니다.
                                        li ~ 을 추가하면 좋을 것 같습니다. 등
                            tr
                                td 고쳐주기
                                td
                                    ul
                                        li ~ 부분은 ~ 식으로 수정해야할 것 같습니다. 등
                            tr
                                td 칭찬하기
                                td
                                    ul
                                        li ~ 부분은 ~ 이유로 좋은 것 같아요.
                                        li 이렇게 하면 효과적으로 전달될 것 같아요. 등
                                        li * 단순히 ‘좋아요’라고 작성하는 것이 아니라, 좋은 이유를 작성해야 함!
                            tr
                                td 질문하기
                                td
                                    ul
                                        li ~ 은 어떤 의도로 적은 것인가요?
                                        li 이 활동의 구체적 내용은 무엇인가요? 등                    
                .addBtngroup
                    a.btn.btn-lg.btn-default(onclick = "trainingFeedBack();") 연습하기
                    a.btn.btn-lg.btn-default(href='href='/'') 종료
        .main-sample.hidden
            div
                include ../includes/nav
                if(training.training)
                    h1 피드백 샘플
                    div
                        #pdfName=training.training
                        #trainingExample=training.trainingExample
                        button#prev Previous
                        button#next Next
                        span.pagenumber
                            | Page: 
                            span#page_num
                            |  / 
                            span#page_count
                        a.fa.fa-download.download(aria-hidden='true' onclick='downloadFiles("#{training.training}"");')
                    canvas#the-canvas
                else
                    h1 파일이 없습니다.
                a.btn.btn-lg.btn-default.btn-exit(href='/') 종료
    script#pdfTrainingViewExam(type='text/template').
        <div class="main-exam">
            <h1>피드백 작성 문제</h1>
            <div class="ex1"></div>
            <form action="/training", method='POST', id="solutionAction">
                <textarea class="form-control current", id="tab_1", name="solution" rows="10" ></textarea>
            </form>
            <button class= "btn btn-lg btn-default", onclick="submitSolution();" >제출</button>
        </div>
    
    script(src='/javascripts/training.js')
    script(src='//mozilla.github.io/pdf.js/build/pdf.js')
    script(src='/javascripts/pdfShow.js')