extends ../layout

block content
  .container
    .row.main
      .main-qa
        h1=mod
        .write_form
            form#writeAction(action='/training/example?mod='+mod, method='post', enctype='multipart/form-data')
                .form-group
                    label(for='name') 문제
                    input.form-control(type='text', id='exam', name='exam', placeholder='문제')
                .form-group
                    label(for='name') 피드백 없는 문제
                    input#UploadFeedback.inputFile(type='file', name='UploadExample', multiple='')
                .form-group
                    label(for='name') 피드백 있는 문제1
                    input#UploadFeedback.inputFile(type='file', name='UploadExample', multiple='')
                .form-group
                    label(for='name') 피드백 있는 문제2
                    input#UploadFeedback.inputFile(type='file', name='UploadExample', multiple='')
                #new.addBtngroup
                    button.btn.btn-primary(type='submit') SUBMIT
                    a.btn.btn-default(href='javascript:window.history.back();') CANCEL
