extends ../layout

block content
  .container
    .row.main
      .main-pdf
        include ../includes/nav
        .content_detail
            -function dateFormatChange(date) {
                -var newdate = new Date(date);
                -var options = { weekday: "short", year: "numeric", month: "short", day: "numeric", hour: "2-digit", minute: "2-digit"};
                -return newdate.toLocaleTimeString("ko-KR", options);
            -}
            h3.content-title=notice.title
            .content-info #{dateFormatChange(notice.date)} 
            .content-text#contents=notice.contents
            .addBtngroup
                if(0== currentUser.admin)
                    a.btn.btn-default(href='/notice/delete?_method=DELETE&id=#{notice._id}') 삭제
                a.btn.btn-default(href='/') 확인




    script(type='text/javascript').
        (function () {
            var contentText = document.getElementById("contents").innerHTML;
            contentText = contentText.replace(/&lt;br&gt;/g, '<br>');
            var output = '';
            $('.content-text').empty();
            output += contentText;
            $('.content-text').html(output);
        })()