extends ../layout

block content
  .container
    .row.main
      .main-login.main-center
        img.profile.img-circle(src="https://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory&fname=http%3A%2F%2Fcfile27.uf.tistory.com%2Fimage%2F2466D94653EC5DBD29E64E")
        h1 이름: #{currentUser.name}
        h2 학번: #{currentUser.email}
        h2 전화번호: #{currentUser.phone}