extends ../layout

block content
    .container
        .row.main
            .main-login.main-center
                form#registerAction(action='/users/register', method='POST')
                    .form-group
                        label.cols-sm-2.control-label(for='name') Your Name
                        .cols-sm-10
                            .input-group
                                span.input-group-addon
                                    i.fa.fa-user.fa(aria-hidden='true')
                                input#name.form-control(type='text', name='name', placeholder='Enter your Name')
                    .form-group
                        label.cols-sm-2.control-label(for='email') ID
                        .cols-sm-10
                            .input-group
                                span.input-group-addon
                                    i.fa.fa-ticket(aria-hidden='true')
                                input#email.form-control(type='text', name='email', placeholder='Enter your ID')
                    .form-group
                        label.cols-sm-2.control-label(for='password') Password
                        .cols-sm-10
                            .input-group
                                span.input-group-addon
                                    i.fa.fa-lock.fa-lg(aria-hidden='true')
                                input#password.form-control(type='password', name='password', placeholder='Enter your Password')
                    .form-group
                        label.cols-sm-2.control-label(for='confirm') Confirm Password
                        .cols-sm-10
                            .input-group
                                span.input-group-addon
                                    i.fa.fa-lock.fa-lg(aria-hidden='true')
                                input#confirm.form-control(type='password', name='confirm', placeholder='Confirm your Password')
                .form-group
                        button.btn.btn-lg.btn-warning.btn-block#login(onclick='submitUser();') Register
                        //button.btn.btn-lg.btn-warning.btn-block#login(href='submit') Register

    script(type='text/javascript').
        function submitUser() {
            var name = $('#name').val();
            var email = $('#email').val();
            var password = $('#password').val();
            var confirm = $('#confirm').val();

            if(name == '' || email == '' || password == '' || confirm == '') {
                alert("빈칸을 채워주세요.");
                return;
            } else if(password != confirm){
                alert("비밀번호가 일치하지 않습니다.");
                return;
            }
            else {
                $('#registerAction').submit();
            }
        }