extends layout

block hero-unit
  .jumbotron
    .container
      h1 Peer Feedback Tool
      br
      p 동료피드백은 동료 학습자의 과제에 대한 의견을 제공하고 제공받는 것을 의미합니다. 
      p 따라서 본 도구는 동료피드백 활동을 지원하는 것을 목적으로 합니다.
  include ./includes/footer