extends ../layout

block content
  .container
    form#writeAction(action='/board?mode=add', method='post', enctype='multipart/form-data')
      input#addContentSubject.inputSubject(type='text', name='addContentSubject', placeholder='제목')
      input#addContentWriter.inputWriter(type='text', name='addContentWriter', placeholder='작성자')
      input#addContentPassword.inputPassword(type='password', name='addContentPassword', placeholder='비밀번호')
      textarea#addContents.textContents(name='addContents', rows='20', cols='80')
      input#UploadFile.inputFile(type='file', name='UploadFile', multiple='')
    #new.addBtngroup
      a(onclick='submitContents();') SUBMIT
      a(onclick="cancelWriteForm('cancel');") CANCEL

  
    script(type='text/javascript').
       function cancelWriteForm(option) {
            if(option == 'cancel') $('.write_form').fadeOut();
            if(option == 'ok') $('.content_box').fadeOut();
        }

        function submitContents() {
            var title = $('#addContentSubject').val();
            var content = $('#addContents').val();
            var writer = $('#addContentWriter').val();
            var password = $('#addContentPassword').val();

            // 새 글 등록 시
            if(title == '' || content == '' || writer == '' || password == '') {
                alert("제목과 내용, 작성자 비밀번호 모두 있어야합니다.");
                return;
            } else {
                $('#writeAction').submit();
            }
        }