.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href='/') 
            i.fa.fa-home
    #navbar.collapse.navbar-collapse
        if (currentUser) 
            ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                        | 사전훈련 
                        span.caret
                    ul.dropdown-menu(role='menu')
                        li
                            a(href='/training/guide') 가이드 라인
                        li
                            a(href='/training/solution') 피드백 샘플
                        li
                            a(href='/training/training') 피드백 작성 훈련
                if (currentUser.admin == 0)
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                            | 산출물 활동 
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='/feedbacks?projectNumber=1') 기획안
                            li
                                a(href='/feedbacks?projectNumber=2') 컨텐츠 내용
                            li
                                a(href='/feedbacks?projectNumber=3') 컨텐츠 내용 수정안
                else
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                            | 과제제출
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='/feedbacks/new?projectNumber=1') 기획안
                            li
                                a(href='/feedbacks/new?projectNumber=2') 컨텐츠 내용
                            li
                                a(href='/feedbacks/new?projectNumber=3') 컨텐츠 내용 수정안
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                            | 피드백 제공
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='/feedbacks?mod=offer&projectNumber=1') 기획안
                            li
                                a(href='/feedbacks?mod=offer&projectNumber=2') 컨텐츠 내용
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                            | 피드백 받기 
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='/feedbacks?mod=show&projectNumber=1') 기획안
                            li
                                a(href='/feedbacks?mod=show&projectNumber=2') 컨텐츠 내용
        ul.nav.navbar-nav.navbar-right
            if (currentUser) 
                li
                    a(href='/notice') 공지사항
                li
                    a(href='/question') Q&A
                li
                    a(href='/users/userlists') 학생 목록
                if (currentUser.admin == 1)
                    li
                        a(href='/users/profile?id=#{currentUser._id}') 나의 공간
                li
                    a(href='/signout') 로그아웃
            else
                li
                    a(href='/signin') 로그인
        