extends ../layout

block content
    container
        .row.main
            .main-choose
                .row.my_div
                    .col-lg-6.col-xs-6.text-center
                        .service-box.mt-6.mx-auto
                            a.fa.fa-4x.fa-pencil.text-primary.mb-6.sr-icons(href='/feedbacks/new?projectNumber=#{projectNumber}')
                            h4.mb-12 게시
                    .col-lg-6.col-xs-6.text-center
                        .service-box.mt-6.mx-auto
                            a.fa.fa-4x.fa-file-pdf-o.text-primary.mb-6.sr-icons(href='/feedbacks?mod=show&projectNumber=#{projectNumber}')
                            h4.mb-12 피드백 