extends ../layout

block content
  .container
    .row.main
      .main-qa
        include ../includes/nav
        h1=title
        .write_form
            form#writeAction(action='/feedbacks?mode=add&projectNumber=#{projectNumber}', method='post', enctype='multipart/form-data')
                .form-group
                    input#addContentSubject.inputSubject(type='text', name='addContentSubject', placeholder='제목')
                .form-group
                    textarea#addContents.textContents(name='addContents', rows='20', cols='80')
                .form-group
                    input#UploadFeedback.inputFile(type='file', name='UploadFeedback', multiple='')
            #new.addBtngroup
                button.btn.btn-default(onclick='submitContents();') 제출
                a.btn.btn-default(href='javascript:window.history.back();') 종료

  
    script(type='text/javascript').
        function submitContents() {
            var title = $('#addContentSubject').val();
            var content = $('#addContents').val();

            // 새 글 등록 시
            if(title == '' || content == '') {
                alert("제목과 내용 모두 있어야합니다.");
                return;
            } else {
                $('#writeAction').submit();
            }
        }