extends ../layout

block content
  .container
    .row.main
      .main-pdf
        div
            #pdfName=feedback.fileUp
            button#prev Previous
            button#next Next
            span.pagenumber
                | Page: 
                span#page_num
                |  / 
                span#page_count
            a.fa.fa-download.download(aria-hidden='true' onclick='downloadFiles("#{feedback.fileUp}");')
        canvas#the-canvas
        a.btn.btn-lg.btn-danger.btn-exit(href='#') 삭제
        a.btn.btn-lg.btn-danger.btn-exit(href='javascript:window.history.back();') 종료


    script(src='//mozilla.github.io/pdf.js/build/pdf.js')
    script(src='/javascripts/pdfShow.js')
    script(src='/javascripts/main.js')
